.searchbar {
  color: #ffffff;

  position: relative;
  input {
    font-size: 1rem;
    text-align: left;
    height: 20px;
    width: 100%;
  }
  i {
    position: absolute;
    right: 0;
    font-size: 1.4rem;
  }
}
